* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.customer-form {
    height: 90%;
    display: flex;
    align-items: center;
    justify-content: center;
    overflow: auto;
    font-family: cursive;
}
.customer {

    width: 400px;
    height: min-content;
    padding: 15px;
    border-radius: 9px;
    background: #ffffff;
    overflow:auto;
}

.customer h1 {
    font-size: 20px;
    margin-bottom: 15px;
}

.customer form {
    font-size: 15px;
}

.customer form .form-group {
    margin-bottom: 9px;
}

.customer form input[type="submit"] {
    font-size: 15px;
    margin-top: 10px;
}
