/* Reset básico para asegurar consistencia en todos los navegadores */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.create-admin-container{
    display: flex;
    height: 100vh;
    align-items: center;

}

.create-admin-image{
    flex: 1;
    background: url('/public/create-admin2.gif') no-repeat center center;
    height: 100vh;
    background-color: rgb(231, 248, 230);
}

/* Estilo del contenedor principal */
.create-admin-form {
    flex: 1;
    display: flex;
    justify-content: center;
    font-family: 'Helvetica Neue', sans-serif;
}

/* Estilo específico para la caja del formulario, incluyendo sombras y bordes */
.create {
    width: 500px;
    background: #fff;
    padding: 20px;
    border-radius: 12px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
    text-align: center;
}

/* Estilos para los títulos dentro del formulario */
.create-admin-form .create h1 {
    margin-bottom: 25px;
    font-size: 32px;
   
}

/* Estilos para el formulario y sus elementos internos */
.create-admin-form .create form {
    font-size: 18px;
}

.create-admin-form .create form .form-group {
    margin-bottom: 16px;
}

.create-admin-form .create form .form-group label {
    display: block;
    text-align: left;
    margin-bottom: 5px;
    font-size: 14px;
    font-weight: 500;
    color: #333;
}

.create-admin-form .create form .form-group input {
    width: 100%;
    padding: 10px;
    font-size: 18px;
    border-radius: 12px;
    border: 1px solid #ccc;
}

.create-admin-form .create form .form-group input::placeholder {
    color: #999;
}

.create-admin-form .create form button {
    background-color: #4CAF50;
    border-radius: 12px;
    color: white;
    padding: 10px 20px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 19px;
    margin: 6px 2px;
    cursor: pointer;
}




.create-admin-form .create form button:hover {
    background-color: #296129;
}

.create-admin-form .create form button:active {
    background-color: #5cb85c;
}

/* Estilos para los enlaces dentro del formulario */
.create-admin-form .create form a {
    display: inline-block;
    margin-top: 24px;
    color: #5cb85c;
    font-size: 16px;
    text-decoration: none;
}

.create-admin-form .create form a:hover {
    text-decoration: underline;
}
