* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.login-container {
    display: flex;
    height: 100vh;
    align-items: center; /* Centrar verticalmente */
}

.login-image {
    flex: 1;
    background: url('/public/login-cover4.gif') no-repeat center center;
    height: 100vh;
    background-color: rgb(231, 248, 230);
}

.login-form {
    flex: 1;
    display: flex;
    justify-content: center;
}

.login {
    width: 500px;
    padding: 20px;
    border-radius: 12px;
    background: #ffffff;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
    text-align: center;
    
}

.login h1 {
    font-size: 32px;
    margin-bottom: 25px;
}

.login form {
    font-size: 20px;
}

.login form .form-group {
    margin-bottom: 12px;
}

.login form input[type="submit"] {
    font-size: 20px;
    margin-top: 15px;
}

.form-control{
    width: 100%;
    padding: 10px;
    font-size: 18px;
    border-radius: 12px;
    border: 1px solid #ccc;
}

.form-control:invalid {
    border: 1px solid #ccc; /* Change to your preferred color for invalid fields */
    /* You may want to add box-shadow or other properties to indicate invalid fields */
  }

.form-control:valid {
  border: 1px solid #ccc; /* Change to your preferred color for valid fields */
}

.bottonLogin{
    background-color: #256127;
    border-radius: 12px;
    color: white;
    padding: 10px 20px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 19px;
    margin: 6px 2px;
    cursor: pointer;
}
.bottonLogin:hover {
    background-color: #135816;
    color: white;
}

.bottonAdd{
    background-color: #4CAF50;
    border-radius: 12px;
    color: white;
    padding: 10px 20px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 19px;
    margin: 6px 2px;
    cursor: pointer;
}

.bottonAdd:hover {
    background-color: #45a049;
    color: white;
}