ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #333;
    font-family: cursive;
  }
  
  li {
    float: left;
  }
  .logout
  {
    float:right;
  }
  
  li a {
    display: block;
    color: white;
    text-align: center;
    padding: 20px 25px;
    text-decoration: none;
    font-size:25px;
  }
  
  li a:hover{
    background-color: #111;
  }


  